<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723250609605-ki5sfcifc1138hhn0fjj1hltmi5nv96e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723250609605-ki5sfcifc1138hhn0fjj1hltmi5nv96e</string>
	<key>API_KEY</key>
	<string>AIzaSyARhRR7Oo65XE0svPX-s3_D665OK39jJ1w</string>
	<key>GCM_SENDER_ID</key>
	<string>723250609605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blogapp</string>
	<key>PROJECT_ID</key>
	<string>blog-app-f4b3d</string>
	<key>STORAGE_BUCKET</key>
	<string>blog-app-f4b3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723250609605:ios:3eb93b3317251a1d101fac</string>
</dict>
</plist>